body{
	text-align: center;
	
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 1em;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: none;
}

button{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #000000;
	text-decoration: none;
	font-style: normal;
	text-transform: none;
}

table{
	margin-left: auto;
	margin-right: auto;
}

#content{
	max-width: 70%;
	margin-left:auto;
	margin-right:auto;
}